* {
    font-family: Arial;
}
#form-container {
    display: flex;
    justify-content: center;
}

#players {
    border: solid 3px black;
    padding: 3px;
    margin: 5px 0px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four elements, each 20% wide */
    justify-content: space-between; /* Evenly space elements and remaining whitespace */
}
.player {
    border: solid 2px black;
    /* padding: 3px; */
    margin: 5px 5px;
    text-align: center;
}
.button-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button-wrapper button {
    height: 30px;
    border-radius: 0;
    border: 0.5px solid black;
    border-top: 1.5px solid black !important;
}

/* REVOLVER */
/* Barrel container */
#barrel-container {
    width: 155px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background: white;
    border-radius: 50%;
}

/* Barrel */
.barrel {
    position: relative;
    width: 152px;
    height: 152px;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;
    z-index: 1;

    transition: transform 0.5s ease;
}

/* Center Hole */
.barrel::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 2;
}

/* Chambers */
.chamber {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box;

    transition: background-color 0.2s ease;
}

/* .flute-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.flute {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box;
    z-index: 2;
} */

.flute:nth-child(1) { transform: rotate(0deg) translate(90px)}
.flute:nth-child(2) { transform: rotate(60deg) translate(90px)}
.flute:nth-child(3) { transform: rotate(120deg) translate(90px)}
.flute:nth-child(4) { transform: rotate(180deg) translate(90px)}
.flute:nth-child(5) { transform: rotate(240deg) translate(90px)}
.flute:nth-child(6) { transform: rotate(300deg) translate(90px)}

/* Position chambers around the circle */
.chamber:nth-child(2) { transform: rotate(30deg) translate(52px) rotate(0deg); }
.chamber:nth-child(1) { transform: rotate(90deg) translate(52px) rotate(90deg); }
.chamber:nth-child(6) { transform: rotate(150deg) translate(52px) rotate(150deg); }
.chamber:nth-child(5) { transform: rotate(210deg) translate(52px) rotate(210deg); }
.chamber:nth-child(4) { transform: rotate(270deg) translate(52px) rotate(270deg); }
.chamber:nth-child(3) { transform: rotate(330deg) translate(52px) rotate(330deg); }

/* Fired chamber with the bullet */
.chamber.lethal {
    background: red !important; 
}

/* Fired empty chamber */
.chamber.fired {
    background: white;
}